<dl id="download-options">
  <dt><%= "pages.download.Packed".t %></dt>
  <ul>
    <li><%= link_to 'right.js.zip',  '/builds/current/right.js.zip' %></li>
  </ul>
  <dt><%= "pages.download.Minified".t %></dt>
  <ul>
    <li><%= link_to 'right-min.js.zip',  '/builds/current/right-min.js.zip' %></li>
  </ul>
  <dt><%= "pages.download.Uncompressed".t %></dt>
  <ul>
    <li><%= link_to 'right-src.js.zip',  '/builds/current/right-src.js.zip' %></li>
  </ul>
  <dt><%= "pages.download.ServerSide".t %></dt>
  <ul>
    <li><%= link_to 'right-server.js',   '/builds/current/right-server.js' %></li>
  </ul>
  <dt><%= "pages.download.HotLink".t %></dt>
  <ul>
    <li><%= link_to 'right.js', '/hotlink/right.js' %> - <%= "pages.download.latest_version".t %></li>
    <li><%= link_to "right-#{RIGHTJS_VERSION}.js", "/hotlink/right-#{RIGHTJS_VERSION}.js" %> - <%= "pages.download.this_version".t %></li>
  </ul>
</dl>
