<dl id="download-options">
  <dt><%= "pages.download.Standard".t %></dt>
  <ul>
    <li><%= link_to 'right.js.zip',      '/builds/current/right.js.zip' %> - <%= 'pages.misc.minified_version'.t %></li>
    <li><%= link_to 'right-src.js.zip',  '/builds/current/right-src.js.zip' %> - <%= 'pages.misc.source_version'.t %></li>
    <li><%= link_to 'right-safe.js.zip', '/builds/current/right-safe.js.zip' %> - <%= 'pages.misc.safe_mode_version'.t %></li>
  </ul>
  <dt><%= "pages.download.ServerSide".t %></dt>
  <ul>
    <li><%= link_to 'right-server.js',   '/builds/current/right-server.js' %></li>
  </ul>
  <dt><%= "pages.download.HotLink".t %></dt>
  <ul>
    <li><%= link_to 'right.js', 'http://cdn.rightjs.org/right.js' %> - <%= "pages.download.latest_version".t %></li>
    <li><%= link_to "right-#{RIGHTJS_VERSION}.js", "http://cdn.rightjs.org/right-#{RIGHTJS_VERSION}.js" %> - <%= "pages.download.this_version".t %></li>
  </ul>
  <dt><%= "pages.download.AllInOne".t %></dt>
  <ul>
    <li><%= link_to 'rightjs-all.zip', '/builds/rightjs-all.zip' %> - <%= 'pages.download.all_in_one_desc'.t %></li>
  </ul>
</dl>
